{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>
{% block title %} {% endblock %}
</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/base.css'%}">

{% block styles %} {% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(211, 84, 0) ;text-align: center ;color: black; font-weight: bold;">
		<div class="container-fluid">
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#"><i class="bi bi-basket"></i>Commerce </a>
			  </li>
			  <li class="nav-item ">
				<a class="nav-link" href="{% url 'indexA' %}">Acceuil</a>
			  </li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Produits
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li><a class="dropdown-item" href="{% url 'index'%}">Ajout Produit</a></li>
					  <li><a class="dropdown-item" href="{% url 'Catalogue'%}">Liste Produits</a></li>
					</ul>
				  </li>
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						 Fournisseurs
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li><a class="dropdown-item" href="{% url 'nouvFournisseur' %}">Ajout Fournisseur</a></li>
					  <li><a class="dropdown-item" href="{% url 'fournisseurs' %}">Liste Fournisseurs</a></li>
					</ul>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" href="{% url 'admin:index' %}">Administration</a>
				  </li>
			</ul>
			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
				<li class="nav-item active">
				<a class="nav-link" href="#">{{user}}</a>
				</li>
				<li class="nav-item active">
				<a class="nav-link" href="{% url 'logout' %}?next=/">Déconnexion</a>
				</li>
				
				{% else %}
				<li class="nav-item active">
				<a class="nav-link" href="#">Connexion</a>
				</li>
				<li class="nav-item active">
				<a class="nav-link"  href="{% url 'register' %}">Inscription</a>
				</li>
				{% endif %}
				</ul>
			
		  </div>
		</div>
	  </nav>
	
{% block content %} {% endblock %}
</body>
</html>