{% extends 'magasin/base.html' %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">Ajouter Fournisseur</h2>
        <form method='POST' class="post-form">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_nom">Nom:</label>
            {{ form.nom }}
          </div>
          <div class="form-group">
            <label for="id_adresse">Adresse:</label>
            {{ form.adresse }}
          </div>
          <div class="form-group">
            <label for="id_email">Email:</label>
            {{ form.email }}
          </div>
          <div class="form-group">
            <label for="id_telephone">Téléphone:</label>
            {{ form.telephone }}
          </div>
          <button type="submit" class="btn btn-dark">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block styles %}
<style>

  body {
    background-color:#F0B27A;
    font-family: 'Roboto', sans-serif;
  }

  h2 {
    color: #333;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  label {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
  }

  .form-group {
    margin-bottom: 10px;
  }

  input[type=text] {
    height: 25px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    color: #333;
  }

  button[type=submit] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button[type=submit]:hover {
    background-color: #555;
  }
</style>
{% endblock %}
